In [1]:
# importing libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
# load file
data = pd.read_csv('data/or_cr/merged.csv')
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12844 entries, 0 to 12843
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Index       12844 non-null  int64
 1   institute   12835 non-null  object
 2   branch      12835 non-null  object
 3   Unnamed: 3  0 non-null      float64
 4   seat_type   12835 non-null  object
 5   gender      12355 non-null  object
 6   or          12150 non-null  float64
 7   cr          12039 non-null  float64
 8   year        12844 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 903.2+ KB

In [3]:
#1. cleaning the data

#a. dropping useless columns
df = df.drop(df.columns[[0,3]], axis = 1)

# clearing null
df = df.dropna(thresh = 3)

# selecting only open seat types
df = df[df['seat_type']=='OPEN']

# discarding female only seats 
df = df[df['gender']!= 'Female-only (including Supernumerary)']

# converting null gender values to neutral
df['gender'] = "neutral"

# converting or and cr to int
df['or'] = df['or'].astype(int)
df['cr'] = df['cr'].astype(int)

# renaming ISM to IIT Dhanbad
df['institute'] = df['institute'].replace("Indian School of Mines Dhanbad", "Indian Institute  of Technology (ISM) Dhanbad")
df['institute'].unique()

array(['Indian Institute  of Technology Bhubaneswar',
       'Indian Institute  of Technology Bombay',
       'Indian Institute  of Technology Mandi',
       'Indian Institute  of Technology Delhi',
       'Indian Institute  of Technology Indore',
       'Indian Institute  of Technology Kharagpur',
       'Indian Institute  of Technology Hyderabad',
       'Indian Institute  of Technology Jodhpur',
       'Indian Institute  of Technology Kanpur',
       'Indian Institute  of Technology Madras',
       'Indian Institute  of Technology Gandhinagar',
       'Indian Institute  of Technology Patna',
       'Indian Institute  of Technology Roorkee',
       'Indian Institute  of Technology (ISM) Dhanbad',
       'Indian Institute  of Technology Ropar',
       'Indian Institute  of Technology (BHU) Varanasi',
       'Indian Institute  of Technology Guwahati',
       'Indian Institute of Technology Bhilai',
       'Indian Institute of Technology Goa',
       'Indian Institute  of Technology Palakkad',
       'Indian Institute  of Technology Tirupati',
       'Indian Institute of Technology Jammu',
       'Indian Institute of Technology Dharwad'], dtype=object)

In [4]:
#modifying data

# creating a course column
df['course'] = df['institute'] + '_' + df['branch']
df['course_id'] = pd.factorize(df['course'])[0] + 1

#Q1 How many different courses are provided by IITs
df[df['course_id'] == df['course_id'].max()] 
#416 different courses are provided by all IITs basen upon JEE Advance Score

#saved cleaned and prepared dataset
# df.to_csv('or_cr/cleaned_cr_data.csv', index = False)

,institute,branch,seat_type,gender,or,cr,year,course,course_id
12818,Indian Institute of Technology Jammu,"Engineering Physics (4 Years, Bachelor of Tech...",OPEN,neutral,13029,15917,2025,Indian Institute of Technology Jammu_Engineeri...,399

In [5]:
# Count number of years per course_id
counts = df.groupby("course_id")["year"].count()

# Get course_ids that appear only once
invalid_courses = counts[counts == 1].index

# Drop those course_ids
df_clean = df[~df["course_id"].isin(invalid_courses)].copy()

# Reset course_id (sequential renumbering)
df_clean["course_id"] = df_clean.groupby(
    "course_id", sort=False
).ngroup() + 1  # new ids start from 1

# Reset index as well
df_clean = df_clean.reset_index(drop=True)

print("Dropped:", len(invalid_courses))
print("Remaining rows:", len(df_clean))
print("Unique course_ids after reset:", df_clean["course_id"].nunique())

Dropped: 34
Remaining rows: 2642
Unique course_ids after reset: 365

In [6]:
# adding seats column by mapping year to seats
seats_per_year = {
    2016: 10572,
    2017: 10998,
    2018: 11279,
    2019: 13583,
    2020: 16053,
    2021: 16232,
    2022: 16598,
    2023: 17385,
    2024: 17740,
    2025: 18160}

df_clean["total_seats"] = df_clean["year"].map(seats_per_year)

In [1]:
df_plot = df[df['course_id']==100]
plt.scatter(df_plot['year'], df_plot['cr'])
plt.show()

NameError: name 'df' is not defined

In [9]:
# Using Simple linear Regresison dependent variable is closing ranks independent variable is no of seats
results = []
print(df_clean['total_seats'].unique())
for i in range(1,df_clean["course_id"].nunique()):
    d = df_clean[df_clean['course_id']== i]
    X = np.vstack([np.ones(len(d)), d['total_seats'].values])
    Y = d['cr'].values.reshape(-1, 1)
    B = np.linalg.inv(X@X.T)@(X@Y)
    X_2026 = np.array([[1,18500]])
    Y_2026 = X_2026@B
    results.append({
        "course_id": i,
        "year": 2026,
        "total_seats": 18500,
        "cr": int(Y_2026[0][0])
    })
df_pred = pd.DataFrame(results)
df_final = pd.concat([df_clean, df_pred], ignore_index=True)

[10572 10998 11279 13583 16053 16232 16598 17385 17740 18160]

In [10]:
# Identify the 2026 prediction rows
mask_2026 = df_final["year"] == 2026

# For each 2026 row, fill missing values from the most recent (latest) row of same course_id
for i, row in df_final[mask_2026].iterrows():
    course_id = row["course_id"]

    # Get latest available row for that course_id (excluding 2026 prediction)
    ref_row = df_final[(df_final["course_id"] == course_id) & (df_final["year"] < 2026)]
    if not ref_row.empty:
        ref_row = ref_row.sort_values("year").iloc[-1]

        # Fill NaNs / overwrite only empty values
        for col in df_final.columns:
            if pd.isna(df_final.at[i, col]) or col not in ["year", "total_seats", "cr"]:
                df_final.at[i, col] = ref_row[col]

In [11]:
# Count number of years per course_id
counts = df.groupby("course_id")["year"].count()

# Get course_ids that appear only once
single_courses = counts[counts == 1].index  

# Select only those with year == 2025 (keep original index)
df_single = df[(df["course_id"].isin(single_courses)) & (df["year"] == 2025)]
k = df_single.copy()
k['year'] = 2026
k
df_final = pd.concat([df_final, k], ignore_index=False)

In [12]:
# post processing
df_final.loc[df_final['or'] > df_final['cr'], 'cr'] = df_final['or']+5
df_final['or'] = df_final['or'].astype(int)

In [13]:
df_2026 = df_final[df_final['year'] == 2026]
df_2026.to_csv('or_cr/predicted_values_2026.csv',index = False)